::-webkit-scrollbar {
  display: none;
}
.layout {
  width: 100vw;
  height: 90vh;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 650px) {
  .layout {
    height: auto;
  }
}
